[submodule "Lava/vendor/spdlog"]
	path = Lava/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Lava/vendor/GLFW"]
	path = Lava/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Lava/vendor/imgui"]
	path = Lava/vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Lava/vendor/glm"]
	path = Lava/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Lava/vendor/assimp"]
	path = Lava/vendor/assimp
	url = git@github.com:AminAliari/assimp.git
